/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply flex py-5 px-14 justify-center text-white bg-amber-500 font-bold rounded-lg hover:bg-amber-500/90 border-0 disabled:bg-amber-500/60 invalid:bg-red-500;
  }

  .btn-small {
    @apply flex py-2 px-6 rounded-md font-semibold;
  }

  .btn-lime {
    @apply bg-lime-500 hover:bg-lime-600;
  }

  .icon-text {
    @apply flex gap-2 items-center;
  }

  .sup-icon {
    @apply flex justify-center items-center absolute -top-2 left-1/2 bg-amber-500 w-5 h-5 rounded-full text-white;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

.appearance-none-input::-webkit-outer-spin-button,
.appearance-none-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

/* Firefox */
.appearance-none-input[type="number"] {
  -moz-appearance: textfield;
}

.container-main {
  @apply max-w-[1400px] mx-auto px-4;
}

.page {
  @apply bg-[url('https://dipex.lv/bitrix/templates/eshop_bootstrap_yellow/images/SlideBack.jpg')] bg-stone-400 bg-contain min-h-screen;
  /* @apply bg-[#F5F5F5] */
}

.content {
  @apply container-main pt-3 pb-8 bg-[#F5F5F5] min-h-screen;
}

.accordion__item {
  @apply border border-gray-200;
}

.accordion__button {
  @apply flex items-start justify-between w-full px-4 py-3 font-medium text-left text-gray-500 border-gray-200;
}

.accordion__content {
  @apply border-gray-200 bg-gray-100 dark:border-gray-700 dark:bg-gray-900;
}

.scroll-grey::-webkit-scrollbar {
  width: 10px;
  padding: 2px;
}

.scroll-grey::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 19px;
  margin-top: 5px;
  margin-bottom: 7px;
}

.scroll-grey::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 20px;
  border: 2px solid #fafafa;
  width: 5px;
}
